/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #DB00FF;
  --decor-bg: #FF0070;
  --title-color: #FF0070;
  --decor-text: #000028;
  --color-text: #F1B2CE;
}

.theme-dark .header__rec {
  display: flex;
}

.theme-dark .header__theme-menu-button:hover {
  --menu-button-color: rgba(255, 0, 112, 0.4);
}