/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --accent-color: #FFC2E6;
  --title-color: #353430;
  --decor-bg: #FF8DCB;
  --decor-text: #353430;
  --color-text: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --accent-color: #FFC2E6;
  --title-color: #353430;
  --decor-bg: #FF8DCB;
  --decor-text: #353430;
  --color-text: #353430;
  }
  
  .header__rec {
    display: none;
  }
}

.theme-light .header__rec {
  display: none;
}