/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  position: relative;
  block-size: 100vh;
  min-height: 668px;
  align-items: center;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  pointer-events: none;
  inline-size: var(--space-l);
  block-size: var(--space-l);
  inset-block-start: var(--space-s);
  inset-inline-end: var(--space-s);
  border-block-start: 1px solid var(--title-color);
  border-inline-end: 1px solid var(--title-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  pointer-events: none;
  inline-size: var(--space-l);
  block-size: var(--space-l);
  inset-block-end: var(--space-s);
  inset-inline-start: var(--space-s);
  border-block-end: 1px solid var(--title-color);
  border-inline-start: 1px solid var(--title-color);
}

.header__rec {
  display: flex;
  font-family: var(--font-type);
  position: absolute;
  inset-block-start: var(--space-s);
  inset-inline-end: var(--space-m);
  font-size: var(--font-size-base);
  text-transform: uppercase;
  align-items: center;
  color: var(--decor-bg);
  gap: var(--space-s);
}

.header__rec::after {
  content: '';
  inline-size: 0.5625rem; /* 9px */
  block-size: 0.5625rem; /* 9px */
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 4px 2px var(--decor-bg);
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-block-start: var(--space-s);
  margin-inline-end: var(--space-s);
  padding: 0;
}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  border: 1px transparent solid;
  background-color: transparent;
  font-family: var(--font-type);
  font-size: var(--font-size-base);
  color: var(--title-color);
  cursor: pointer;
  font-weight: var(--font-weight-normal);
  text-transform: lowercase;
  padding: 0.125rem 0.8125rem 0.25rem; /* 2px, 13px, 4px */
}

.header__theme-menu-button:hover {
  border: 1px var(--title-color) solid;
}

.header__theme-menu-button_active {
  border: 1px var(--decor-bg) solid;
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px var(--decor-bg) solid;
}

.header__title {
  font-size: var(--font-size-header);
  font-family: var(--font-type);
  line-height: 0.83;
  font-weight: var(--font-weight-bold);
  color: var(--accent-color);
  text-shadow: var(--shadow);
  padding-inline: var(--space-s);
}

.title-decor {
  font-size: var(--font-size-base);
  background-color: var(--decor-bg);
  color: var(--decor-text);
  font-weight: var(--font-weight-bold);
  word-wrap: break-word;
  text-align: left;
}

.header__text {
  justify-self: end;
  align-items: start;
  font-family: var(--font-type);
  margin-inline: var(--space-s);
  margin-block-end: var(--space-s);
  line-height: 1.3;
  margin-block-start: -5px;
}

.main {
  display: grid;
}

.section {
  padding-inline: var(--space-s);
  font-family: var(--font-type);
  margin-block-end: 30px;
}

.section__difficult {
  margin-block-start: 2.5rem; /* 40px */
}

.section__title {
  font-size: 1.125rem;
  color: var(--title-color);
  margin: 0;
  margin-block-end: var(--space-m);
}

.article__title {
  margin-block-end: var(--space-m);
}

.section__card {
  padding: 0;
}

.card {
  display: grid;
  margin: 0;
  font-size: 1.125rem;
  list-style-type: none;
  gap: var(--space-xs);
}

.section__card_title {
  margin-block-end: var(--space-s);
}

.section__text {
  font-size: var(--font-size-base);
  color: var(--color-text);
  margin-block-start: 0;
  margin-block-end: var(--space-m);
  line-height: 23.4px;
  font-weight: var(--font-weight-normal);
}

.card__title {
  color: var(--decor-text);
  background-color: var(--decor-bg);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-base);
  margin-block-end: var(--space-s);
}

.section__link {
  text-decoration: none;
  color: var(--color-text);
  text-shadow: var(--shadow-link);
}

.section__link:hover {
  border-block-end: 1px var(--color-text) solid ;
}

.section__link:focus-visible {
  outline: 1px var(--color-text) solid;
  outline-offset: 1px;
}

.gallery {
  margin-block-end: 40px;
}

.section__gallery_title {
  margin-block-end: var(--space-s);
}

.section__images {
  display: grid;
  gap: var(--space-s);
  grid-template-columns: 1fr;
  padding: 0;
}

.section__images_item {
  list-style-type: none;
}

.image__item {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  place-items: center;
  block-size: 100vh;
  min-height: 668px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  font-family: var(--font-type);
  color: var(--accent-color);
  text-shadow: var(--shadow-link);
  font-size: var(--font-size-header);
  margin-block: 0;
}


@media (min-width: 768px) {
  .decorated-zone::before {
    content: '';
    margin-block-start: var(--space-s);
    margin-inline-end: var(--space-s);
  }

  .decorated-zone::after {
    content: '';
    margin-block-end: var(--space-s);
    margin-inline-start: var(--space-s);
  }

  .header__rec {
    margin-block-start: var(--space-s);
    margin-inline-end: var(--space-s);
  }

  .header__theme-menu {
    margin-inline-end: var(--space-s);
    margin-block-start: var(--space-xs);
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-inline: 0;
  }

  .title-decor {
    max-width: none;
  }

  .header__text {
    margin-inline: 384px 20px;
  }

  .section {
    margin-block-end: 60px;
  }

  .section__difficult {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-m);
    margin-block-start: 60px;
    padding-inline: var(--space-m);
  }

  .section__concentration {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: var(--space-xs);
    margin-inline: var(--space-m);
    padding: 0;
  }

  .section__concentration .section__title {
    margin-block-start: -5px;
    max-width: 30%;
    overflow-wrap: break-word;
  }

  .section_type_article-list {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-m);
    padding-inline: var(--space-m);
  }

  .gallery {
    padding-inline: var(--space-m);
    margin-block-end: 55px;
  }

  .section__gallery_title {
    margin-block-end: var(--space-m);
  }

  .section__images {
    gap: var(--space-m);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .image__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* 1-я картинка (закат) */
  .section__images_item:nth-child(1) {
    grid-column: 1 / 3;
  }

  /* 2-я картинка (мороженое) */
  .section__images_item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  /* 3-я картинка (касета) */
  .section__images_item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  /* 4-я картинка (книги) */
  .section__images_item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  /* 5-я картинка (улица) */
  .section__images_item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    margin-inline: 513px 20px;
  }

  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding: 0;
    margin-block-start: 12px;
    margin-inline-start: var(--space-m);
    gap: var(--space-s);
  }

  .header__theme-menu-button {
    padding: 1px 13px 1px;
  }

  .section__difficult {
    gap: var(--space-s);
  }

  .section_type_article-list {
    gap: var(--space-s);
  }

  .section__concentration .section__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-m);
    align-items: start;
  }
  
  .card {
    display: block;
  }

  .footer {
    margin-block-start: var(--space-xs);
  }
}